#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input low snort-pgsql/startup || true
db_go

# /etc/ppp/ip-up.d/snort-pgsql is called with interface and IP number
db_get snort-pgsql/startup
if [ "x$RET" = "xdialup" ]; then
  db_set snort-pgsql/interface ""
  db_set snort-pgsql/address_range ""
  db_set snort-pgsql/disable_promiscuous true
else
  db_beginblock
  db_input medium snort-pgsql/interface || true
  db_input high snort-pgsql/address_range || true
  db_input low snort-pgsql/disable_promiscuous || true
  db_endblock
  db_go
fi

db_beginblock
db_input low snort-pgsql/reverse_order || true
db_input low snort-pgsql/options || true
db_endblock
db_go

db_beginblock
db_input medium snort-pgsql/stats_rcpt || true
db_input low snort-pgsql/stats_treshold || true
db_endblock
db_go

db_input high snort-pgsql/configure_db || true
db_go
db_get snort-pgsql/configure_db
if  [ "x$RET" = "xtrue" ]; then
	db_beginblock
	db_input medium snort-pgsql/db_host || true
	db_input medium snort-pgsql/db_database || true
	db_input medium snort-pgsql/db_user || true
	db_input medium snort-pgsql/db_pass || true
	db_get snort-pgsql/wait_for_db_config || true
	if  [ "x$RET" = "xtrue" ]; then
		db_set snort-pgsql/needs_db_config "true" || true
	else
		db_input medium snort-pgsql/needs_db_config || true
	fi
	db_endblock
	db_go
fi

DEFAULT=/etc/default/snort
PARAMETERS=/etc/snort/snort.common.parameters
if [ -e "$DEFAULT" ] && [ -e "$PARAMETERS" ] ; then
        db_beginblock
        db_input medium snort-pgsql/config_parameters || true
        db_endblock
        db_go
fi


db_get snort-pgsql/startup
if [ "x$RET" = "xmanual" ]; then
	db_beginblock
	db_input medium snort-pgsql/please_restart_manually || true
	db_endblock
	db_go
fi

db_stop
