#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input low snort/startup || true
db_go

# /etc/ppp/ip-up.d/snort is called with interface and IP number
db_get snort/startup
if [ "$RET" = "dialup" ]; then
  db_set snort/interface ""
  db_set snort/address_range ""
  db_set snort/disable_promiscuous true
else
  db_beginblock
  db_input medium snort/interface || true
  db_input high snort/address_range || true
  db_input low snort/disable_promiscuous || true
  db_endblock
  db_go
fi

db_beginblock
db_input low snort/reverse_order || true
db_input low snort/options || true
db_endblock
db_go

# TODO: This values should not be empty (even
# if we default to 'root' and '1' in the scripts)
# so the config script should check wether the 
# values here are legitimate.
db_beginblock
db_input medium snort/stats_rcpt || true
db_input low snort/stats_treshold || true
db_endblock
db_go

db_get snort/startup
if [ $RET = "manual" ]; then
	db_beginblock
	db_input medium snort/please_restart_manually || true
	db_endblock
	db_go
fi
db_stop
